<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
<sitecore>
<events timingLevel="custom">
<event name="forms:save">

      </event>
</events>
<fieldTypes>
<fieldType name="GroupList" type="Sitecore.Form.Core.Fields.GroupListField,Sitecore.Forms.Core"/>
</fieldTypes>
<pipelines>
<sessionEnd>
<processor type="Sitecore.Form.Core.Pipeline.SessionEnd.RegisterFormDropouts, Sitecore.Forms.Core" patch:before="processor[@type='Sitecore.Analytics.Pipelines.SessionEnd.AcceptChanges,Sitecore.Analytics']"/>
</sessionEnd>
<preRenderForm>

      </preRenderForm>
<formUploadFile>
<processor type="Sitecore.Form.Core.Pipelines.FormUploadFile.ResolveFolder, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.FormUploadFile.Save, Sitecore.Forms.Core"/>
</formUploadFile>
<successAction>
<processor type="Sitecore.Form.Core.Pipelines.FormSubmit.SuccessRedirect, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.FormSubmit.FormatSuccessMessage, Sitecore.Forms.Core"/>
</successAction>
<errorSubmit>
<processor type="Sitecore.Form.Core.Pipelines.FormSubmit.FormatMessage, Sitecore.Forms.Core"/>
</errorSubmit>
<errorSave>
<processor type="Sitecore.Form.Core.Pipelines.FormSubmit.ClearBrokenMedia, Sitecore.Forms.Core"/>
</errorSave>
<getQueryState>
<processor type="Sitecore.Form.Core.Pipeline.GetQueryState.HideAnalytics, Sitecore.Forms.Core"/>
</getQueryState>
<renderLayout>
<processor type="Sitecore.Form.Core.Pipeline.RenderLayout.ViewPlaceholdersHandler, Sitecore.Forms.Core" patch:after="processor[@type='Sitecore.Pipelines.RenderLayout.BuildTree, Sitecore.Kernel']"/>
<processor type="Sitecore.Form.Core.Pipeline.RenderLayout.FormRedirectingHandler, Sitecore.Forms.Core" patch:after="processor[@type='Sitecore.Pipelines.RenderLayout.BuildTree, Sitecore.Kernel']"/>
</renderLayout>
<errorCheck>

      </errorCheck>
<exportToXml>
<processor type="Sitecore.Form.Core.Pipelines.Export.Xml.ExportToXml, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.Export.SaveContent, Sitecore.Forms.Core"/>
</exportToXml>
<exportToExcel>
<processor type="Sitecore.Form.Core.Pipelines.Export.Excel.ExportToExcel, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.Export.SaveContent, Sitecore.Forms.Core"/>
</exportToExcel>
<exportToAscx>
<processor type="Sitecore.Form.Core.Pipelines.Export.SaveContent, Sitecore.Forms.Core"/>
</exportToAscx>
<auditRender>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditTimeStamp, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditUpdatedTitle, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditUpdatedEntities, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditSkippedTitle, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditSkippedEntities, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.AuditRender.AuditMesssages, Sitecore.Forms.Core"/>
</auditRender>
<parseAscx>
<processor type="Sitecore.Form.Core.Pipelines.ParseAscx.ExpandLiteralControl, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.ParseAscx.ClearDoubleNewLine, Sitecore.Forms.Core"/>
<processor type="Sitecore.Form.Core.Pipelines.ParseAscx.ClearXmlns, Sitecore.Forms.Core"/>
</parseAscx>
<setCustomCrmProperty>        
      </setCustomCrmProperty>
<setSystemCrmProperty>
<processor type="Sitecore.Form.Core.Pipelines.Crm.SetStateAndStatusProperty, Sitecore.Forms.Core"/>
</setSystemCrmProperty>
<processMessage>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="ExpandLinks"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="ExpandTokens"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="AddHostToItemLink"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="AddHostToMediaItem"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="AddAttachments"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="BuildToFromRecipient"/>
<processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="SendEmail"/>
</processMessage>
<getRenderingPreview>
<processor type="Sitecore.Form.Core.Pipelines.GetRenderingPreview.SaveUniqIdToSession,Sitecore.Forms.Core" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingPreview.TryRenderControl,Sitecore.Kernel']"/>
</getRenderingPreview>
<getRenderingDatasource>
<processor type="Sitecore.Form.Core.Pipeline.InsertRenderings.Processors.GetDialogUrl, Sitecore.Forms.Core"/>
</getRenderingDatasource>
<getPlaceholderRenderings>
<processor type="Sitecore.Form.Core.Pipeline.InsertRenderings.Processors.GetPlaceholder, Sitecore.Forms.Core"/>
</getPlaceholderRenderings>
</pipelines>
<dataviews>
<dataview name="EmailCampaignManager" assembly="Sitecore.Forms.Core" type="Sitecore.Form.Core.Data.EmailCampaignManagerDataView" Parameters=""/>
</dataviews>
<controlSources>
<source mode="on" namespace="Sitecore.Forms.Core.Applications.ContentEditor" assembly="Sitecore.Forms.Core" prefix="forms"/>
<source mode="on" namespace="Sitecore.Forms.Shell.UI.Controls" assembly="Sitecore.Forms.Core"/>
</controlSources>
<commands>
<command name="forms:edit" type="Sitecore.Forms.Core.Commands.EditForm,Sitecore.Forms.Core"/>
<command name="forms:create" type="Sitecore.Forms.Core.Commands.CreateForm,Sitecore.Forms.Core"/>
<command name="forms:insert" type="Sitecore.Forms.Core.Commands.InsertForm,Sitecore.Forms.Core"/>
<command name="forms:designer" type="Sitecore.Forms.Core.Commands.OpenFormDesigner,Sitecore.Forms.Core"/>
<command name="forms:open" type="Sitecore.Forms.Core.Commands.RedirectToEditForm,Sitecore.Forms.Core"/>
<command name="forms:setsubmitactions" type="Sitecore.Forms.Core.Commands.SetSubmitActions,Sitecore.Forms.Core"/>
<command name="forms:editrule" type="Sitecore.Forms.Core.Commands.EditRule,Sitecore.Forms.Core"/>
<command name="forms:dataviewer" type=" Sitecore.Forms.Core.Commands.RunFormDataViewer,Sitecore.Forms.Core"/>
<command name="forms:selectform" type="Sitecore.Forms.Core.Commands.OpenForm,Sitecore.Forms.Core"/>
<command name="forms:exporttoxml" type="Sitecore.Forms.Core.Commands.Export.ExportToXml,Sitecore.Forms.Core"/>
<command name="forms:exporttoexcel" type="Sitecore.Forms.Core.Commands.Export.ExportToExcel,Sitecore.Forms.Core"/>
<command name="forms:export:completed" type="Sitecore.Forms.Core.Commands.Export.ExportCompleted,Sitecore.Forms.Core"/>
<command name="forms:datadelete" type="Sitecore.Forms.Core.Commands.DataViewer.Operations.Delete,Sitecore.Forms.Core"/>
<command name="forms:datarefresh" type="Sitecore.Forms.Core.Commands.View.Refresh,Sitecore.Forms.Core"/>
<command name="forms:dataarchive" type="Sitecore.Forms.Core.Commands.DataViewer.Operations.Archive,Sitecore.Forms.Core"/>
<command name="forms:datarestore" type="Sitecore.Forms.Core.Commands.DataViewer.Operations.Restore,Sitecore.Forms.Core"/>
<command name="forms:viewarchive" type="Sitecore.Forms.Core.Commands.View.ViewArchive,Sitecore.Forms.Core"/>
<command name="forms:viewdata" type="Sitecore.Forms.Core.Commands.View.ViewData,Sitecore.Forms.Core"/>
<command name="forms:archivedelete" type="Sitecore.Forms.Core.Commands.Archive.DeleteInArchive,Sitecore.Forms.Core"/>
<command name="forms:selectfields" type="Sitecore.Forms.Core.Commands.Fields.SelectFields,Sitecore.Forms.Core"/>
<command name="forms:exporttoascx" type="Sitecore.Form.Core.FormDesigner.ExportToAscx,Sitecore.Forms.Core"/>
<command name="forms:openrobotdetection" type="Sitecore.Form.Core.FormDesigner.OpenRobotDetection,Sitecore.Forms.Core"/>
<command name="forms:selectplaceholders" type="Sitecore.Forms.Core.Commands.RestrinctingPlaceholders,Sitecore.Forms.Core"/>
<command name="forms:selectdate" type="Sitecore.Forms.Core.Commands.SelectDate,Sitecore.Forms.Core"/>
<command name="forms:convertdate" type="Sitecore.Forms.Core.Commands.ConvertDate,Sitecore.Forms.Core"/>
<command name="forms:selectitemsbysource" type="Sitecore.Forms.Core.Commands.SelectItemsBySource,Sitecore.Forms.Core"/>
<command name="forms:selectdirectory" type="Sitecore.Forms.Core.Commands.SelectDirectory,Sitecore.Forms.Core"/>
<command name="forms:analytics" type="Sitecore.Forms.Core.Commands.OpenAnalytics,Sitecore.Forms.Core"/>
<command name="forms:configuregoal" type="Sitecore.Forms.Core.Commands.ConfigureGoal,Sitecore.Forms.Core"/>
<command name="forms:poolreset" type="Sitecore.Form.Core.Commands.PoolReset,Sitecore.Forms.Core"/>
<command name="forms:opensession" type="Sitecore.Form.Core.Commands.OpenSession,Sitecore.Forms.Core"/>
</commands>
<queryselector defaultProvider="default">
<providers>
<clear/>
<add name="default" type="Sitecore.Forms.Core.Data.DefaultQueryProvider, Sitecore.Forms.Core"/>
<add name="root" type="Sitecore.Forms.Core.Data.RootQueryProvider, Sitecore.Forms.Core"/>
<add name="xpath" type="Sitecore.Forms.Core.Data.XPathQueryProvider, Sitecore.Forms.Core"/>
<add name="sitecore" type="Sitecore.Forms.Core.Data.SitecoreQueryProvider, Sitecore.Forms.Core"/>
<add name="fast" type="Sitecore.Forms.Core.Data.FastQueryProvider, Sitecore.Forms.Core"/>
</providers>
</queryselector>
<!-- DLINQ compatible data storage -->
<!-- MS SQL -->
<!--
    <formsDataProvider type="Sitecore.Forms.Data.DataProviders.WFMDataProvider,Sitecore.Forms.Core">
      <param desc="connection string">Database=(database);Data Source=(server);user id=(user);password=(password);Connect Timeout=30</param>
    </formsDataProvider>
    -->
<!-- Oracle -->
<formsDataProvider type="Sitecore.Forms.Data.DataProviders.Oracle.OracleWFMDataProvider,Sitecore.Forms.Oracle">
<param desc="connection string">user id=(user);password=(password);Data Source=(database)</param>
</formsDataProvider>
<!-- SQLite -->
<!--
    <formsDataProvider type="Sitecore.Forms.Data.DataProviders.SQLite.SQLiteWFMDataProvider,Sitecore.Forms.Core">
      <param desc="connection string">Data Source=/data/sitecore_webforms.db;version=3;BinaryGUID=true</param>
    </formsDataProvider>
    -->
<sites>
<site name="website">
<patch:attribute name="formsRoot">{F1F7AAB6-C8CE-422F-A214-F610C109FA63}</patch:attribute>
</site>
</sites>
<ui>
<references>
<reference uniq="/bin/Sitecore.Forms.Core.dll">/bin/Sitecore.Forms.Core.dll</reference>
</references>
</ui>
<settings>
<!-- Sets whether the inner exception is hidden or not -->
<setting name="Exception.HideInner" value="true"/>
<!-- Sets whether the inner exception is hidden or not -->
<setting name="WFM.DefaultDateFormat" value="D"/>
<!-- Sets whether the form designer is opened as a modal dialog  -->
<setting name="WFM.OpenFormDesignerAsModalDialog" value="false"/>
<!-- Sets whether the form reports is opened as a modal dialog  -->
<setting name="WFM.OpenFormDataViewerAsModalDialog" value="false"/>
<!-- Sets the name of the master database  -->
<setting name="WFM.MasterDatabase" value="master"/>
<!-- Sets the name of the core database -->
<setting name="WFM.CoreDatabase" value="core"/>
<!-- Sets the name of the remote server connection string  -->
<setting name="WFM.RemoteService" value="remoteWfmService"/>
<!-- Sets max size of initial values cache  -->
<setting name="WFM.InitialValuesCacheSize" value="100KB"/>
<!-- Sets the name of the connection string  -->
<setting name ="WFM.ConnectionString" value="wfm"/>
<!-- Most popular applications count-->
<setting name="WFM.MostPopularApplicantCount" value="3"/>
<!-- Relevance scale-->
<setting name="WFM.RelevantScale" value="0.8"/>
<!-- Bind form count in Form Reports -->
<setting name="WFM.BindFormCount" value="true"/>
<!-- Insert ids to analytics -->
<setting name="WFM.InsertIdToAnalytics" value="false"/>
<!-- CommandTimeout -->
<setting name="WFM.CommandTimeout" value="180"/>
<!-- Field types that can keep audit data -->
<setting name="WFM.AuditAllowedTypes" value="|Rich Text|html|text|Multi-Line Text|Single-Line Text|memo|"/>
<!-- Session threshold parameters -->
<setting name="WFM.SessionThreshold" value="2/1-100/60"/>
<!-- Server threshold parameters -->
<setting name="WFM.ServerThreshold" value="2/1-100/60"/>
</settings>
</sitecore>
</configuration>
