<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SitecoreInstaller.UI.Properties.UiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SitecoreInstaller.UI.Properties.UiUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SitecoreInstaller.UI.Properties.LoggerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SitecoreInstaller.UI.Properties.UiSettings>
            <setting name="PipelineStatusHeightCollapsed" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PipelineStatusHeightExpanded" serializeAs="String">
                <value>370</value>
            </setting>
        </SitecoreInstaller.UI.Properties.UiSettings>
    </applicationSettings>
    <userSettings>
        <SitecoreInstaller.UI.Properties.UiUserSettings>
            <setting name="UseDeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProfiling" serializeAs="String">
                <value>False</value>
            </setting>
        </SitecoreInstaller.UI.Properties.UiUserSettings>
        <SitecoreInstaller.UI.Properties.LoggerSettings>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProfiling" serializeAs="String">
                <value>True</value>
            </setting>
        </SitecoreInstaller.UI.Properties.LoggerSettings>
    </userSettings>
</configuration>