<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SitecoreInstaller.App.Properties.SitecoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SitecoreInstaller.App.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SitecoreInstaller.App.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SitecoreInstaller.App.Properties.SitecoreSettings>
            <setting name="SourcesConfigFileName" serializeAs="String">
                <value>Sources.config</value>
            </setting>
            <setting name="PreferencesOverrideConfigFileName" serializeAs="String">
                <value>PreferencesOverride.config</value>
            </setting>
        </SitecoreInstaller.App.Properties.SitecoreSettings>
    </applicationSettings>
    <userSettings>
        <SitecoreInstaller.App.Properties.UserSettings>
            <setting name="ProjectsFolder" serializeAs="String">
                <value>c:\inetpub\wwwroot</value>
            </setting>
            <setting name="LocalBuildLibrary" serializeAs="String">
                <value>c:\BuildLibrary</value>
            </setting>
            <setting name="IisSitePostfix" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlInstanceName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="SqlLogin" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PromptForUserSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicenseExpirationPeriodInDays" serializeAs="String">
                <value>7</value>
            </setting>
        </SitecoreInstaller.App.Properties.UserSettings>
        <SitecoreInstaller.App.UserSettings>
            <setting name="ProjectsFolder" serializeAs="String">
                <value>c:\inetpub\wwwroot</value>
            </setting>
            <setting name="LocalBuildLibrary" serializeAs="String">
                <value>c:\BuildLibrary</value>
            </setting>
            <setting name="IisSitePostfix" serializeAs="String">
                <value>.sc.local</value>
            </setting>
            <setting name="SqlInstanceName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="SqlLogin" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PromptForUserSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </SitecoreInstaller.App.UserSettings>
    </userSettings>
</configuration>