# git ignore file
*_Resharper*
Trunk/packages/repositories.config
Trunk/packages/NUnit*
Trunk/packages/Fluent*
Trunk/packages/NSubstitute*
Trunk/*/bin/*
Trunk/*/obj/*
Trunk/Build/
*.user
*.suo
Trunk/SitecoreInstaller/*.config