@section dashboard-section[[
<!-- delete local deployment modal dialog -->
<div id="deleteLocalDeploymentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-1x fa-fw info-status-icon fa-exclamation-triangle"></i> Delete <span class="deployment-name"></span></h4>
            </div>
            <form class="form-horizontal form-label-left input_mask" id="delete-local-deployment-form">
                <div class="modal-body">
                    Are you sure you want to delete <span class="deployment-name"></span>?
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
]]

@section page-script [[
<script type="text/javascript">
    
    var deployments_deleteLocalDeploymentDialog= {
        init:function() {
            console.log(('* Initializing deployments_deleteLocalDeploymentDialog'));
            serviceBus.subscribe('click/delete/deployments/local',
                function (name) {
                    console.log('deleting:' + name);
                    var deleteModal = $('#deleteLocalDeploymentModal');
                    deleteModal.attr(deployments.dataDeploymentNameKey, name);
                    $('#deleteLocalDeploymentModal .deployment-name').text(name);
                    deleteModal.modal();
                });

            $('#delete-local-deployment-form')
                .submit(function (e) {
                    var deleteModal = $('#deleteLocalDeploymentModal');
                    var name = deleteModal.attr(deployments.dataDeploymentNameKey);

                    serviceBus.publish('delete/deployments/local', name);

                    deleteModal.attr(deployments.dataDeploymentNameKey, '');
                    deleteModal.modal('toggle');

                    e.preventDefault();
                });

            console.log(('* deployments_deleteLocalDeploymentDialog initialized'));
        }}
</script>
]]