@modules[[
deployments/putLocalDialog;
deployments/deleteLocalDialog;
]]

@section page-title[[Dashboard]]
@section page-content[[

@@dashboard-section@@


<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-windows fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="count-azure-deployments">0</div>
                        <div>Azure Deployments</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left">New Azure Deployment</div>
                    <div class="pull-right"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-server fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="local-deployment-count">0</div>
                        <div>Local Deployments</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" id="new-local-deployment">
                    <span class="pull-left">New Local Deployment</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud-download fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="sitecores-count">0</div>
                        <div>Build Library</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Download Sitecore Version</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-windows"></i> Azure Deployments
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-server"></i> Local Deployments
            </div>
            <div class="panel-body">
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
]]

@section page-script [[
<script type="text/javascript">
    $(document).ready(function () {
        serviceBus.subscribe('get/api/buildlibrary', function (data) {
            $('#sitecores-count').html(data.sitecores.length);
        });

        $('#new-local-deployment').unbind();
        $('#new-local-deployment').on('click', function () {
            serviceBus.publish('click/put/deployments/local', '');
        });
    });
</script>
@@page-script@@
]]