<?xml version="1.0"?>
<UserPreferences xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ProjectsFolder>c:\inetpub\wwwroot</ProjectsFolder>
  <LocalBuildLibrary>c:\BuildLibrary</LocalBuildLibrary>
  <IisSitePostfix>.sc.rar</IisSitePostfix>
  <SqlInstanceName>(local)</SqlInstanceName>
  <SqlLogin>sc</SqlLogin>
  <SqlPassword>1234</SqlPassword>
  <MongoEndpoint>localhost</MongoEndpoint>
  <MongoPort>27017</MongoPort>
  <MongoUsername />
  <MongoPassword />
  <AdvancedView>true</AdvancedView>
  <PromptForUserSettings>true</PromptForUserSettings>
  <LicenseExpirationPeriodInDays>14</LicenseExpirationPeriodInDays>
</UserPreferences>