<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
            Use this for overriding default settings in installer. 
            This is handy when you know the settings in advance for the target machine and / or for avoiding ui interaction upon first run.
            
            Leave value empty to use normal settings
        -->
    <ProjectsFolder></ProjectsFolder>
    
    <LocalBuildLibrary></LocalBuildLibrary>
    
    <!-- Valid values are: True, False -->
    <CreateLocalBuildLibraryIfNotExists></CreateLocalBuildLibraryIfNotExists>
    
    <!-- Should start with dot but not a requirement-->
    <IisSitePostfix></IisSitePostfix>
    
    <SqlInstanceName></SqlInstanceName>
    
    <SqlLogin></SqlLogin>
    
    <SqlPassword></SqlPassword>
    
    <!-- Valid values are: True, False -->
    <PromptForUserSettings></PromptForUserSettings>
    
    <!-- Must be positive integer  -->
    <LicenseExpirationPeriodInDays></LicenseExpirationPeriodInDays>
</configuration>