<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
            Use this for overriding default settings in installer. 
            This is handy when you know the settings in advance for the target machine and / or for avoiding ui interaction upon first run.
            
            Leave value empty to use normal settings
        -->
    <ProjectsFolder>C:\inetpub\wwwrootDebug</ProjectsFolder>
    <!-- Valid values are: True, False -->
    <CreateProjectsFolderIfNotExists>True</CreateProjectsFolderIfNotExists>

    <LocalBuildLibrary>c:\BuildLibrary</LocalBuildLibrary>    
    <!-- Valid values are: True, False -->
    <CreateLocalBuildLibraryIfNotExists>True</CreateLocalBuildLibraryIfNotExists>

    <ArchiveFolder></ArchiveFolder>
    <!-- Valid values are: True, False -->
    <CreateArchiveFolderIfNotExists></CreateArchiveFolderIfNotExists>
    
    <!-- Should start with dot but not a requirement-->
    <IisSitePostfix>.sc.rar</IisSitePostfix>
    
    <SqlInstanceName>(local)</SqlInstanceName>    
    <SqlLogin>sc</SqlLogin>    
    <SqlPassword>1234</SqlPassword>
    
    <!-- Valid values are: True, False -->
    <PromptForUserSettings>False</PromptForUserSettings>
    
    <!-- Must be positive integer  -->
    <LicenseExpirationPeriodInDays></LicenseExpirationPeriodInDays>
</configuration>