<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--
            Use this for overriding default settings in installer. 
            This is handy when you know the settings in advance for the target machine and / or for avoiding ui interaction upon first run.
            
            Leave value empty to use normal settings
        -->
    <ProjectsFolder>c:\projects</ProjectsFolder>
    <LocalBuildLibrary>c:\buildlibrary</LocalBuildLibrary>
    <IisSitePostfix>.sc.rar</IisSitePostfix><!-- Should start with dot but not a requirement-->
    <SqlInstanceName>(local)</SqlInstanceName>
    <SqlLogin>sc</SqlLogin>
    <SqlPassword>1234</SqlPassword>
    <PromptForUserSettings>False</PromptForUserSettings><!-- Valid values are: True, False -->
    <LicenseExpirationPeriodInDays></LicenseExpirationPeriodInDays><!-- Must be positive integer  -->
    <DefaultLicense></DefaultLicense><!-- Must match license name format -->
</configuration>