<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
            Name : Name of source as shown in selection boxes - Must be distinct
            Parameters : A custom string that is passed to the source object upon creation. Handled invidiually in each implementation.
            Type : Implementation of source in format [Fully qualified type name], [Assembly name]. 
            Type MUST implement "SitecoreInstaller.Framework.Configuration.ISource, SitecoreInstaller"
            AND have a constructor taking exactly one parameter (string name) where name is the name of the source
        -->
    <!--<source name="Example" parameters="\\mynetworkdrive\BuildLibrary" type="SitecoreInstaller.Domain.BuildLibrary.WindowsFileSystemSource, SitecoreInstaller.Domain"/>-->
    <source name="RAR" parameters="C:\BuildLibraryExternalMock" type="SitecoreInstaller.Domain.BuildLibrary.WindowsFileSystemSource, SitecoreInstaller.Domain"/>
</configuration>