<?xml version="1.0"?>
<ConfigFileTest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Greeting>Hello World!</Greeting>
  <StringValue></StringValue>
  <MyCollection>
    <Item>item 1</Item>
    <Item>item 2</Item>
    <Item>item 3</Item>
  </MyCollection>
</ConfigFileTest>
