<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharp.Basics" version="2.55.0.0" targetFramework="net45" />
  <package id="CSharp.Basics.Curl" version="1.8.0.0" targetFramework="net45" />
  <package id="CSharp.Basics.SevenZip" version="1.5.0.0" targetFramework="net45" />
  <package id="CSharp.Basics.Xdt" version="1.2.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net45" />
</packages>